VITE_SUPABASE_URL=https://ygsbcrqajkjcvrzixvam.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlnc2JjcnFhamtqY3Zyeml4dmFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyNDk5NTEsImV4cCI6MjA3OTgyNTk1MX0.ZKdGVGCxWoy6JWmHWPpwrvtlaYNecgpUYqm1rSW7NNc
VITE_BACKEND_URL=http://localhost:8000
VITE_HTTP_DEBUG=
